# Discord Developer Portal > Bot > Reset Token
DISCORD_TOKEN=replace_with_bot_token
# General Information > Application ID
DISCORD_APPLICATION_ID=replace_with_application_id
# Discord Developer Mode > right-click your test server > Copy Server ID
DISCORD_GUILD_ID=replace_with_server_id
